body{
  background-color: #F9F9F9;
}

.card-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}
.btnAdd{
  display: grid;
  justify-content: center;
  
}
.btnAdd button{
  background-color: #000000;
  outline: none;
  border: none;
  padding:  20px 30px;
  color: #ecf0f3;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.wrapers{
    display: flex;
    justify-content: center;
}




.wrapper,
.wrapper .img-area,
.buttons button{
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;
}
.wrapper{
  position: relative;
  margin: 20px;
  width: 350px;
  padding: 30px;
  
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.wrapper .img-area{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-area .inner-area{
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  border-radius: 50%;
}
.inner-area img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.wrapper .name{
  font-size: 23px;
  font-weight: 500;
  color: #31344b;
  margin: 10px 0 5px 0;
}
.wrapper .about{
  color: #44476a;
  font-weight: 400;
  font-size: 16px;
}

.buttons button:hover:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
}
.buttons button:hover:before{
  z-index: -1;
  border-radius: 5px;
}

.wrapper .buttons{
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
}
.buttons button{
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #31344b;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  z-index: 4;
}
.buttons button:first-child{
  margin-right: 10px;
}
.buttons button:last-child{
  margin-left: 10px;
}


@media screen and (max-width: 1200px) {
  
  .wrapers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   column-gap: 2rem;
  justify-content: center;
}

}
@media screen and (max-width: 760px) {
  
  .wrapers{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   column-gap: 2rem;
  justify-content: center;
}

}
@media screen and (min-width: 1260px) {
  
  .wrapers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   column-gap: 2rem;
  justify-content: center;
}

}